* {
  padding: 0;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 20rem;
}

#results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 100%;
}

.results__cinema__seance {
  background-color: #fff;
  border-radius: 4px;
  padding: .5rem;
  margin: .5rem 0;
}

.results__cinema {
  background: #EAEAEA;
  padding: 1rem;
}

#results > div {
  display: flex;
  flex-direction: column;
}

#results img {
  width: 100%;
  height: auto;
}

.showtime {
  background-color: #f5f5f5;
  padding: .5rem;
  margin: 1rem 0
}

